&fetch improvements

I improved the behavior of &fetch in #873 a while back; there remain a few bugs and possible improvements that should be made: 

- Only HTTP and HTTPS protocols are supported, with HTTPS being chosen as the default. However, if you enter an unsupported protocol, as in `ftp://...`, &fetch silently tries to connect via HTTPS. It should instead error. 
- The protocol specifier parsing should be case-insensitive, per RFC 3986, §3.1. 
- There's a potential for an underflow bug in the case of a malformed response. 
